.wrapper-login {
    background-color: #f5f5f5;
}

a:hover{
    text-decoration: none!important;
    color: #ffffff!important;
}

.bc{
    margin-top: 10px;
}

.btn.btn-auth {
    background-color: #e9ecef;
    color: #212529;
}

.auth-main {
    height: 100vh;
}

.auth-main .container {
    height: 100%;
}

.auth-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.auth-form-container {
    padding: 20px;
    width: 400px;
    height: 380px;
    background-color: #0e2333;
}
.auth-form-container h4,label,p{
    color: #ffffff;
}

.auth-form-container.f-r {
    width: 400px;
    height: 470px;

}

.btn.btn-auth:hover{
    color: #212529;
}

.footer {
    margin-top: 0px;
}

.header-three-line {
    display: none;
}




/* Responsive */
@media (max-width: 1200px) {

}


@media (max-width: 992px) {

}


@media (max-width: 768px) {


}

@media (max-width: 576px) {
    .header-three-line {
        display: block;
        color: white;
        font-size: 24px;
    }

    .header-right {
        display: none;
    }

    .header-left {
        padding-left: 0px !important;
        padding-right: 0px !important;

    }


    .auth-main {
        height: 100vh;
    }

    .auth-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .auth-form-container {
        display: block;
        width: 380px;
    }
}

